# TF IDF

In [1]:
import pandas as pd

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
docA = 'the man want out for walk'
docB = 'the childern sat around the fire'

In [4]:
docA

'the man want out for walk'

In [5]:
docB

'the childern sat around the fire'

In [6]:
bagOfWordsA = docA.split(' ')
bagOfWordsB = docB.split(' ')

In [7]:
bagOfWordsA

['the', 'man', 'want', 'out', 'for', 'walk']

In [8]:
bagOfWordsB

['the', 'childern', 'sat', 'around', 'the', 'fire']

In [9]:
uniquewords = set(bagOfWordsA).union(set(bagOfWordsB))

In [11]:
print(uniquewords)

{'out', 'childern', 'sat', 'walk', 'around', 'fire', 'want', 'for', 'man', 'the'}

In [18]:
numberOfWordsA = dict.fromkeys(uniquewords , 0)
for word in bagOfWordsA:
    numberOfWordsA[word] += 1
    
numberOfWordsB = dict.fromkeys(uniquewords , 0)
for word in bagOfWordsB:
    numberOfWordsB[word] += 1

In [22]:
print(numberOfWordsA,'\n',numberOfWordsB)

{'out': 1, 'childern': 0, 'sat': 0, 'walk': 1, 'around': 0, 'fire': 0, 'want': 1, 'for': 1, 'man': 1, 'the': 1}
 {'out': 0, 'childern': 1, 'sat': 1, 'walk': 0, 'around': 1, 'fire': 1, 'want': 0, 'for': 0, 'man': 0, 'the': 2}

In [26]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

# TERM FREQUENCE (TF)

In [31]:
def computeTF (wordsDict,bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word,count in wordsDict.items():
        tfDict[word] = count/float(bagOfWordsCount)
    return tfDict

In [34]:
tfA = computeTF(numberOfWordsA,bagOfWordsA)
tfB = computeTF(numberOfWordsB,bagOfWordsB)

In [33]:
tfA

{'out': 0.16666666666666666,
 'childern': 0.0,
 'sat': 0.0,
 'walk': 0.16666666666666666,
 'around': 0.0,
 'fire': 0.0,
 'want': 0.16666666666666666,
 'for': 0.16666666666666666,
 'man': 0.16666666666666666,
 'the': 0.16666666666666666}

In [35]:
tfB

{'out': 0.0,
 'childern': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'walk': 0.0,
 'around': 0.16666666666666666,
 'fire': 0.16666666666666666,
 'want': 0.0,
 'for': 0.0,
 'man': 0.0,
 'the': 0.3333333333333333}

# INVERSE DATA FREQUENCE (IDF)

In [42]:
def computeIDF(documents):
    import math 
    N = len(documents)
    idfDict = dict.fromkeys(documents[0].keys(),0)
    for document in documents:
        for word , val in document.items():
            if val > 0:
                idfDict[word] +=1
    for word , val in idfDict.items():
        idfDict[word]=math.log(N/float(val))
    return idfDict

In [44]:
idfs = computeIDF([numberOfWordsA,numberOfWordsB])

In [45]:
idfs

{'out': 0.6931471805599453,
 'childern': 0.6931471805599453,
 'sat': 0.6931471805599453,
 'walk': 0.6931471805599453,
 'around': 0.6931471805599453,
 'fire': 0.6931471805599453,
 'want': 0.6931471805599453,
 'for': 0.6931471805599453,
 'man': 0.6931471805599453,
 'the': 0.0}

In [48]:
def computeTF_IDF(tfbagOfWords,idfs):
    tfidf = {}
    for word , val in tfbagOfWords.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [55]:
tfidfA = computeTF_IDF(tfA,idfs)
tfidfB = computeTF_IDF(tfB,idfs)
df = pd.DataFrame(tfidfA,tfidfB)

In [56]:
df

,out,childern,sat,walk,around,fire,want,for,man,the
out,0.115525,0.0,0.0,0.115525,0.0,0.0,0.115525,0.115525,0.115525,0.0
childern,0.115525,0.0,0.0,0.115525,0.0,0.0,0.115525,0.115525,0.115525,0.0
sat,0.115525,0.0,0.0,0.115525,0.0,0.0,0.115525,0.115525,0.115525,0.0
walk,0.115525,0.0,0.0,0.115525,0.0,0.0,0.115525,0.115525,0.115525,0.0
around,0.115525,0.0,0.0,0.115525,0.0,0.0,0.115525,0.115525,0.115525,0.0
fire,0.115525,0.0,0.0,0.115525,0.0,0.0,0.115525,0.115525,0.115525,0.0
want,0.115525,0.0,0.0,0.115525,0.0,0.0,0.115525,0.115525,0.115525,0.0
for,0.115525,0.0,0.0,0.115525,0.0,0.0,0.115525,0.115525,0.115525,0.0
man,0.115525,0.0,0.0,0.115525,0.0,0.0,0.115525,0.115525,0.115525,0.0
the,0.115525,0.0,0.0,0.115525,0.0,0.0,0.115525,0.115525,0.115525,0.0

In [57]:
df = pd.DataFrame([tfidfA,tfidfB])

In [58]:
df

,out,childern,sat,walk,around,fire,want,for,man,the
0,0.115525,0.000000,0.000000,0.115525,0.000000,0.000000,0.115525,0.115525,0.115525,0.0
1,0.000000,0.115525,0.115525,0.000000,0.115525,0.115525,0.000000,0.000000,0.000000,0.0

In [61]:
vectorizer = TfidfVectorizer()

In [65]:
vectors = vectorizer.fit_transform([docA,docB])
feature_names = vectorizer.get_feature_names()

In [66]:
dense = vectors.todense()

In [67]:
denselist = dense.tolist()

In [68]:
df = pd.DataFrame(denselist,columns=feature_names)

In [69]:
df

,around,childern,fire,for,man,out,sat,the,walk,want
0,0.000000,0.000000,0.000000,0.42616,0.42616,0.42616,0.000000,0.303216,0.42616,0.42616
1,0.407401,0.407401,0.407401,0.00000,0.00000,0.00000,0.407401,0.579739,0.00000,0.00000